.formblock {
    float: left;
    width: 100%;
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .formblock {
        margin-top: 45px;
    }
}

.formblock .row {
    float: left;
    width: 100%;
}

.formblock .row .col1,
.formblock .row .col2 {
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
}

@media screen and (min-width: 768px) {
    .formblock .row .col2 {
        width: 50%;
    }

    .formblock .row .col2:first-child {
        padding-right: 7px;
    }

    .formblock .row .col2:last-child {
        padding-left: 7px;
    }
}

.formblock fieldset {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #FBF9F9;
    padding: 15px;
}

.formblock fieldset legend {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0 5px;
}

.formblock .row input[type="text"],
.formblock .row input[type="email"],
.formblock .row input[type="date"],
.formblock .row input[type="number"],
.formblock .row input[type="password"],
.formblock .row input[type="file"],
.formblock .row select,
.formblock .row textarea {
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Ubuntu", sans-serif;
    color: #000;
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
    outline: none;
    font-weight: 300;
    width: 100%;
}

.formblock .row input[type="file"] {
    padding: 10px;
}

.formblock .row input[type="radio"],
.formblock .row input[type="checkbox"] {
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 20px;
    margin: 0 15px 0 5px;
}

.formblock .row textarea {
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
    line-height: 22px;
}

.formblock .row input[type="text"]:focus,
.formblock .row input[type="email"]:focus,
.formblock .row input[type="date"]:focus,
.formblock .row input[type="number"]:focus,
.formblock .row input[type="password"]:focus,
.formblock .row input[type="file"]:focus,
.formblock .row select:focus,
.formblock .row textarea:focus {
    border-color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

button {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 24px 11px;
    background: #DF3539;
    color: #FFF;
    border-radius: 0;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset;
    margin-left: 4px;
    cursor: pointer;
}

button:hover {
    background: #2d2d2d;
}

.formblock .row button {
    margin: 30px 0 0 4px;
}

.formblock .row .checkboxes {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    background: #fff;
    padding: 7px 10px;
    height: 40px;
}
