button.mobilemenu {
	background-color: transparent;
	top: 8px;
	right: 15px;
	width: 30px;
	height: 30px;
	position: absolute;
	transform: rotate(0deg);
	cursor: pointer;
	padding: 0;
}
@media (min-width: 768px) {
	button.mobilemenu {
		display: none;
	}
}

button.mobilemenu span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 0;
	background: #fff;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 150ms ease-in-out;
}

button.mobilemenu span:nth-child(1) {
	top: 0px;
	transform-origin: left center;
}

button.mobilemenu span:nth-child(2) {
	top: 10px;
	transform-origin: left center;
}

button.mobilemenu span:nth-child(3) {
	top:20px;
	transform-origin: left center;
}

button.mobilemenu.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 0;
	left: 0;
	width: 31px;
}

button.mobilemenu.open span:nth-child(2) {
	width: 0;
	opacity: 0;
}

button.mobilemenu.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 22px;
	left: 0;
	width: 31px;
}
